header 
  section.top-header
    .container
      .row
        .d-none.d-md-block.col-md-3.mr-md-auto
          ul.socials.d-flex
            li.socials__item.active
              a.d-flex-center(href="#")
                i.fab.fa-facebook-f 
            li.socials__item.border-right
              a.d-flex-center(href="#") 
                i.fab.fa-google-plus-g
            li.socials__item.border-right
              a.d-flex-center(href="#") 
                i.fab.fa-instagram
            li.socials__item.border-right
              a.d-flex-center(href="#") 
                i.fab.fa-twitter
        .col-12.col-md-4
          .top-header__btns.h-100
            a.btn.d-flex-center.border.border-top-0.border-bottom-0(href="#") Đăng kí 
            a.btn.d-flex-center.border-right(href="#") Đăng nhập