#navbarSupportedContent.collapse.navbar-collapse
  ul.navbar-nav.mr-auto
    li.nav-item.active.custom-dropdown.custom-dropdown--megamenu
      a.nav-link(href='/home.html')
        | Trang chủ 
        span.sr-only (current)
      ul.custom-dropdown__sub-menu.d-none.d-xl-block
        .container.bg-white.shadow-lg.padding-top-30px
          .row
            .col-3.margin-bottom-50px
              .main-header__list
                h5 
                  img(src="./assets/images/4-black-squares.svg", alt="")
                  | Máy khoan đa năng CNC
                ul.list-unstyled
                  li
                    a(href="#") Máy khoan CNC điện 
                  li
                    a(href="#") Máy phay đa năng 3R
                  li
                    a(href="#") Máy hàn, cắt kim loại
                  li
                    a(href="#") Máy in, phun tích điện
                  li
                    a(href="#") Máy ép gỗ chuẩn Nano
              .main-header__list
                h5 
                  img(src="./assets/images/4-black-squares.svg", alt="")
                  | Máy ép nhựa thủ công
                ul.list-unstyled
                  li
                    a(href="#") Máy khoan CNC điện 
                  li
                    a(href="#") Máy phay đa năng 3R
                  li
                    a(href="#") Máy hàn, cắt kim loại
                  li.mb-0
                    a(href="#") Máy in, phun tích điện
            .col-3.margin-bottom-50px 
              .main-header__list
                h5 
                  img(src="./assets/images/4-black-squares.svg", alt="")
                  | Máy cắt Plasmar
                ul.list-unstyled
                  li
                    a(href="#") Máy khoan CNC điện 
                  li
                    a(href="#") Máy phay đa năng 3R
                  li
                    a(href="#") Máy hàn, cắt kim loại
                  li
                    a(href="#") Máy in, phun tích điện
                  li
                    a(href="#") Máy ép gỗ chuẩn Nano
              .main-header__list
                h5 
                  img(src="./assets/images/4-black-squares.svg", alt="")
                  | Máy uốn tôn điện
                ul.list-unstyled
                  li
                    a(href="#") Máy khoan CNC điện 
                  li
                    a(href="#") Máy phay đa năng 3R
                  li
                    a(href="#") Máy hàn, cắt kim loại
                  li.mb-0
                    a(href="#") Máy in, phun tích điện
            .col-3.margin-bottom-50px 
              .main-header__list
                h5 
                  img(src="./assets/images/4-black-squares.svg", alt="")
                  | Máy phay công nghệ
                ul.list-unstyled
                  li
                    a(href="#") Máy khoan CNC điện 
                  li
                    a(href="#") Máy phay đa năng 3R
                  li
                    a(href="#") Máy hàn, cắt kim loại
                  li
                    a(href="#") Máy in, phun tích điện
                  li
                    a(href="#") Máy ép gỗ chuẩn Nano
              .main-header__list
                h5 
                  img(src="./assets/images/4-black-squares.svg", alt="")
                  | Máy nén khí CNC
                ul.list-unstyled
                  li
                    a(href="#") Máy khoan CNC điện 
                  li
                    a(href="#") Máy phay đa năng 3R
                  li
                    a(href="#") Máy hàn, cắt kim loại
                  li.mb-0
                    a(href="#") Máy in, phun tích điện
            .col-3.padding-bottom-50px  
                img.h-100(src="./assets/images/1.png", alt="")
    li.nav-item.custom-dropdown
      a.nav-link(href='#') Giới thiệu
      ul.custom-dropdown__sub-menu.shadow-lg
        li.custom-dropdown__sub-menu__item
          a(href="#")
            span.mr-2
              i.fas.fa-caret-right 
            | Giới thiệu chung
        li.custom-dropdown__sub-menu__item.custom-dropdown
          a(href="#")
            span.mr-2
              i.fas.fa-caret-right
            | Hệ thống cửa hàng
          ul.custom-dropdown__sub-menu.custom-dropdown__sub-menu--left.shadow-lg
            li.custom-dropdown__sub-menu__item
              a(href="#")
                span.mr-2
                  i.fas.fa-caret-right 
                | Hệ thống cửa hàng A
            li.custom-dropdown__sub-menu__item
              a(href="#")
                span.mr-2
                  i.fas.fa-caret-right 
                | Hệ thống cửa hàng A1
            li.custom-dropdown__sub-menu__item
              a(href="#")
                span.mr-2
                  i.fas.fa-caret-right 
                | Hệ thống cửa hàng A2
            li.custom-dropdown__sub-menu__item
              a(href="#")
                span.mr-2
                  i.fas.fa-caret-right 
                | Hệ thống cửa hàng A3
        li.custom-dropdown__sub-menu__item
          a(href="#")
            span.mr-2
              i.fas.fa-caret-right
            | Chính sách ưu đãi
        li.custom-dropdown__sub-menu__item
          a(href="#") 
            span.mr-2 
              i.fas.fa-caret-right
            | Thông tin tuyền dụng
    li.nav-item
      a.nav-link(href='/product.html') Sản phẩm
    li.nav-item
      a.nav-link(href='/blog.html') Tin khuyến mãi
    li.nav-item
      a.nav-link(href='#') Dịch vụ
    li.nav-item
      a.nav-link(href='#') Liên hệ