// Footer
.main-footer {
  background-color: $bg-dark-light;

  h5 {
    display: flex;
    align-items: center;

    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;

    img {
      height: 10px;
      width: 10px;
      margin-right: .5rem;
    }
  }

  &__about {
    margin-bottom: 3rem;
    p {
      &:nth-child(1) {
        margin-bottom: 2rem;
      }
    }
  }

  &__chinhsach {
    margin-bottom: 3rem;
    li {
      margin-bottom: 1rem;

      a {
        color: $font-dark;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  &__dichvu, &__tintuc, &__ketnoi {
    @extend .main-footer__chinhsach;
  } 

  &__thanhtoan {
    margin-bottom: 1rem;
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;

      img {
        width: 100%;
      }
    }
  }

  &__giaidap {
    &__content {
      display: flex;
      flex-direction: column;

      .main-footer__giaidap__item {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
  
        &__logo {
          display: flex;
          align-items: center;
          justify-content: center;
  
          height: 60px;
          width: 60px;
  
          margin-right: .5rem;
  
          color: $yellow;
  
          border: 1px solid $yellow;
          border-radius: 999px;
        }
  
        &__content {
          text-align: center;
          p {
            margin-bottom: 0;
            line-height: 24px;
          }
  
          span {
            font-size: 18px;
            font-weight: bold;
            color: $red;
          }
        }
      }
    }
  }
}

.bottom-footer {
  background-color: $black;

  &__content {
    p {
      color: $font-dark-light;
      margin-bottom: 0;
      
      span {
        color: $white;
      }
    }
  }

  &__links {
    a {
      color: $font-dark-light;

      &:hover {
        color: $yellow;
      }
    }
  }
}
// End Of Footer

@media (min-width: 576px) {
  // Footer
  .main-footer {
    &__thanhtoan {
      ul {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
      }
    }
  }
  // End Of Footer
}

@media (min-width: 768px) {}

@media (min-width: 992px) {
  // Footer
  .main-footer {
    &__giaidap {
      &__content {
        flex-direction: row;

        .main-footer__giaidap__item {
          &:nth-child(1) {
            margin-right: 1rem;
          }
        }
      }
    }
  }
  // End Of Footer
}

@media (min-width: 1200px) {}