// Top Header
.top-header {
  background-image: linear-gradient(0deg, #ebebeb 0%, #ffffff 100%);

  .socials {
    margin-bottom: 0;

    &__item {
      &.active {
        a {
          color: $white;
          background-color: $yellow;
        }
      }

      a {
        height: 50px;
        width: 50px;

        color: $font-dark;

        &:hover {
          color: $white;
          background-color: $yellow;
        }
      }
    }
  }

  .col-12 {
    // padding: 0;

    .top-header__btns {
      display: flex;
  
      a {
        flex-grow: 1;
        height: 50px;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 0 1rem;
        color: $font-dark;
        border-radius: 0;
  
        &:hover {
          color: $white;
          background-color: $yellow;
        }
      }
    }
  }
}
// End Of Top Header

// Main Header
.main-header {
  padding: 10px;

  &__brand {
    margin-bottom: .5rem;

    img {
      height: 100px;
      width: auto;
    }
  }

  &__content {
    margin-right: 20px;

    span {
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      color: $yellow;
    }

    P {
      font-size: 13px;
      color: $font-dark;
      font-weight: 500;
      color: $font-dark-light;
    }
  }

  &__search {
    display: flex;
    align-items: center;

    border: 1px solid $font-dark-light;
    border-radius: 999px;

    width: 100%;

    padding: .8rem 1.2rem .8rem 1.5rem;

    input {
      flex-grow: 1;
      border: none;

      &:focus {
        outline: none;
      }
    }

    label {
      margin-bottom: 0;
      color: $font-dark-light;
    }
  }
}
// End Of Main Header

// Navbar Header
.navbar-header {
  padding: 0;
  background-color: $black;

  &__toggle {
    display: inline-block;
    height: 70px;

    padding: 0 1.2rem;

    border-radius: 0;

    .bar {
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      background-color: $white;
      transition: ease all .2s;

      &:nth-child(2), &:nth-child(3) {
        margin-top: 4px;
      }
    }

    &[aria-expanded="true"] {
      .bar {
        &:nth-child(1) {
          transform: rotate(45deg) translate(5px, 4px);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate(4px, -4px);
        }
      }
    }

    &:focus {
      outline: none;
    }
  }

  .cart {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;

    height: 70px;
    padding: 0 1.2rem;
    color: $white;

    &__badge {
      position: absolute;
      top: 10px;
      right: 5px;

      display: flex;
      justify-content: center;
      align-items: center;

      height: 20px;
      width: 20px;

      border-radius: 999px;

      background-color: $yellow;
    }
  }

  #navbarSupportedContent {
    .navbar-nav {
      .nav-item {
        .nav-link {
          display: flex;
          justify-content: flex-start;
          align-items: center;
      
          height: 70px;
          padding: 0 1.2rem !important;
      
          font-size: 14px;
          text-transform: uppercase;
          color: $white !important;

          &:hover {
            color: $yellow !important;
          }
        }

        &.active {
          .nav-link {
            background-color: $yellow;
            color: $white !important;
          }
        }
      }
    }
  }
}
// End Of Navbar Header
// End Of Header


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // Header
  // Main Header
  .main-header {
    &__brand {
      margin-bottom: 0;
    }

    &__search {
      width: 320px;  
    }
    
  }
  // End Of Main Header

  // End Of Header
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  // Header
  // Main Header
  .main-header {
    // &__content {
    //   margin-right: 20px;
    // }
    
    // &__search {
    //   width: 200px;
    // }
  
  }
  // End Of Main Header

  // End Of Header
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  // Header
  // Main Header
  .main-header {
    &__content {
      margin-right: 50px;
    }

    &__search {
      width: 320px;
    }
  }
  // End Of Main Header

  // End Of Header
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  // Header
  // Top Header
  .top-header {
    .col-12 {
      padding: 0;
    }
  }
  // End Of Top Header

  // End Of Header
}