//- Global
- 
  var navbar = [
    { name: 'Trang chủ', link: '#' },
    { name: 'Giới thiệu', link: '#' },
    { name: 'Sản phẩm', link: '#' },
    { name: 'Tin khuyến mãi', link: '#' },
    { name: 'Dịch vụ', link: '#' },
    { name: 'Liên hệ', link: '#' },
  ]

//- Footer
-
  var chinhsach = {
    title: 'Chính sách',
    list: [
      { name: 'Chính sách giao hàng' },
      { name: 'Chính sách đổi sản phẩm' },
      { name: 'Chính sách bảo hành' },
      { name: 'Chính sách trả góp' },
      { name: 'Vận chuyển miễn phí' },
    ]
  };

  var dichvuhotro = {
    title: 'Dịch vụ \x26 Hỗ trợ',
    list: [
      { name: 'Hệ thống cửa hàng' },
      { name: 'Hướng dẫn mua hàng' },
      { name: 'Hướng dẫn thanh toán' },
      { name: 'Dịch vụ đổi trả hàng' },
      { name: 'Câu hỏi thường gặp' },
    ]
  };

  var tintucsukien = {
    title: 'Tin tức \x2D sự kiện',
    list: [
      { name: 'Tin tức mới nhất' },
      { name: 'Tin tức khuyến mại' },
      { name: 'Tuyển dụng, đãi ngộ' },
      { name: 'Download tài liệu' },
      { name: 'Chương trình đối tác' },
      { name: 'Nhà phát triển ứng dụng' },
    ]
  };

  var ketnoi = {
    title: 'Kết nối',
    list: [
      { name: 'Facebook', icon: 'fab fa-facebook-f' },
      { name: 'Twitter', icon: 'fab fa-twitter' },
      { name: 'Google', icon: 'fab fa-google-plus-g' },
      { name: 'Skype', icon: 'fab fa-skype' },
      { name: 'Instagram', icon: 'fab fa-instagram' },
    ]
  };