@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
}

ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

.d-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}

.shadow {
  box-shadow: 0 0 10px $shadow;
}
// Grid
@include grid(3, 2);

.d-grid-3-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mb-1rem {
  margin-bottom: 1rem;
}

@include margin('bottom', 15, 'px');

@include margin('bottom', 20, 'px');

@include margin('bottom', 30, 'px');

@include margin('top', 30, 'px');

@include margin('bottom', 40, 'px');

@include margin('bottom', 60, 'px');

@include margin('bottom', 50, 'px');

@include margin('left', 15, 'px');

@include margin('right', 15, 'px');

.mb-30px {
  margin-bottom: 30px;
}

.mb-45px {
  margin-bottom: 45px;
}

.mb-50px {
  margin-bottom: 50px;
}

@include padding('bottom', 50, 'px');

@include padding('left', 120, 'px');

@include padding('right', 20, 'px');

@include padding('top', 30, 'px');

.p-10px {
  padding: 10px;
}

.pb-30px {
  padding-bottom: 30px;
}

.py-30px {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-50px {
  padding-top: 50px;
  padding-bottom: 50px;
}

.h-335-98px {
  // height: 335.98px;
  height: 381px;
}

.h-381px {
  height: 381px;
}

.shadow-hover {
  box-shadow: 0 0 5px $shadow;
  transition: all 0.3s ease-out;

  &:hover {
    box-shadow: 0 0 10px $shadow;
    transition-delay: .3s;
  }
}

.btn-yellow {
  color: $white;
  background-color: $yellow;
  transition: all 0.3s ease-out;
  border-color: $yellow;

  &:hover {
    background-color: $font-dark;
  }
}

.btn-outline-yellow {
  border-color: $font-dark-light;
  color: $font-dark-light;

  &:hover {
    border-color: $font-dark-light;
    color: $yellow;
    background-color: transparent;
  }
}

button.btn-yellow-hover-1 {
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $yellow;
    border-color: $yellow;
    color: $white;
  }
}

button.btn-black {
  background-color: $font-dark;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: $font-dark-light;
  }
}

// Custom Form
.custom__form__title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 30px;
}

.custom__form__text {
  color: $font-dark-light;
}

.custom__form__link {
  color: $yellow;
  text-decoration: underline;

  &:hover {
    color: $font-dark-light;
  }
}

.custom__form {
  .form-group {
    label {
      font-size: 14px;
      color: $black-dark;
      margin-bottom: 20px;

      span {
        color: $red;
      }
    }

    input {
      height: 50px;
    }
  }
}
// End Of Custom Form

// Pagination Custom
.pagination-custom {
  .page-item {
    margin: 0 2.5px;

    .page-link {
      border-radius: 0;
      color: $font-dark-light;

      &:hover {
        background-color: $yellow;
        color: $white;
      }
    }
  }
}
// End Of Pagination Custom

// Custom Dropdown
.dropdown-menu-right {
  right: 0;
  left: auto;
}

.custom-dropdown {
  &__sub-menu {
    position: relative;
    top: 100%;
    left: 0;

    min-width: 100%;
    max-height: 0;

    background-color: $black;
    overflow: hidden;

    transition: all 0.7s linear;

    &__item {
      a {
        color: #fff;
        display: inline-block;
        padding: 20px;
      }

      &:hover {
        background-color: $yellow;

        & > a {
          color: #fff;
        }
      }
    }
  }

  &__sub-menu--left {
    padding-left: 20px;
  }

  &:hover > &__sub-menu {
    max-height: 100vh;
  }
}
// End Of Custom Dropdown

// Custom Modal
.custom-modal {
  .modal-dialog {
    display: flex;
    justify-content: center;

    max-width: 800px;

    .modal-content__wrapper {
      position: relative;

      background-image: url(../assets/images/modal-bg.jpg);
      background-position: center;
      background-size: cover;

      .modal-content {
        background: transparent;

        width: 800px;
        height: 450px;
    
        .close {
          position: absolute;
          right: 0;
          top: 0;
          z-index: 1000;
    
          display: flex;
          justify-content: center;
          align-items: center;
    
          border: none;
    
          height: 35px;
          width: 35px;
    
          color: $yellow;
    
          opacity: 1;
    
          background-color: $black;
    
          &:hover {
            background-color: $font-dark;
          }
        }
    
        .modal-body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          z-index: 999;
    
          h1 {
            font-size: 30px;
          }
    
          p {
            font-size: 16px;
            padding: 30px 0;
          }
    
          .custom-form{
            .form-group{
              input{
                height: 60px;
                width: 600px;
              }
            }
          }
        }
      }

      &::after {
        content: '';

        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        z-index: 998;

        background-color: $bg-dark-light-transparent;
      }
    }
  }
}
// End Of Custom Modal

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  // .h-335-98px {
  //   height: 591px;
  // }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .h-335-98px {
    height: 361px;
  }

  .shadow-lg {
    box-shadow: 0 0 10px $black-shadow;
  }

  // Custom Dropdown
  .custom-dropdown {
    position: relative;

    &__sub-menu {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 999;

      min-width: 200px;
      max-height: 0;

      transition: all 0.3s linear;
      background-color: $white;

      &__item {
        a {
          color: $font-dark;
          display: inline-block;
          padding: 20px;
        }

        &:hover {
          background-color: $yellow;
        }
      }
    }

    &:hover > &__sub-menu {
      overflow: visible;
    }

    &__sub-menu--left {
      padding-left: 0;
      top: 0;
      left: 100%;
    }
  }

  .custom-dropdown--megamenu {
    position: static;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .h-335-98px {
    height: 381px;
  }
}
