$yellow: #f5bd10;
$red: #ff0000;
$black: #202020;
$black-1: #0000006b;
$font-dark: #363636;
$shadow: #0000003d;
$font-dark-light: #acacac;
$bg-dark-light: #f7f7f7;
$white: #fff;
$border-color-1: #dee2e6;
$border-color: rgba(255,255,255,.1);
$black-dark: #252525;
