$yellow: #f5bd10;
$red: #ff0000;
$black: #202020;
$back-1: #0000006b;
$font-dark: #363636;
$shadow: #0000003d;
$font-dark-light: #acacac;
$border-color: rgba(255,255,255,.1);
$bg-dark-light: #f7f7f7;
$white: #fff;
$border-color: #dee2e6;